DEBUG=False

DATABASE_NAME = ""
DATABASE_USERNAME = ""
DATABASE_PASSWORD = ""
DATABASE_HOSTNAME = "localhost"

SQLALCHEMY_DATABASE_URI = "postgres://{}:{}@{}/{}".format(
    DATABASE_USERNAME,
    DATABASE_PASSWORD,
    DATABASE_HOSTNAME,
    DATABASE_NAME
)

SECRET_KEY = ""
SECURITY_PASSWORD_SALT = ""

